* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.plate {
    /* margin: auto; */
    padding: 20px;
    width: 400px;
    /* height: 600px; */
    background-color: #bbb;
}

#pantalla {
    width: 100%;
    height: 80px;
    padding: 5%;
    font-size: 2em;
    text-align: end;
    /* background-color: lightblue; */
}

#pantallaSecundaria1, #pantallaSecundaria2, #pantallaSecundaria3 {
    height: 30px;
    /* margin: 5% 0; */
    padding: 5px;
    font-size: 1em;
    background-color: white;
}

#historial {
    width: 200px;
    height: 600px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}

.flexRow > div:first-child {
    width: 10%;
}

.flexRow > div:last-child {
    width: 90%;
}
.flexRowButtons {
    display: flex;
    flex-direction: row;
}

.buttons {
    background-color: #616161;
    height: 400px;
}

.button {
    /* height: 60%; */
    color: #fff;
    font-size: 1.5em;
    border: none;
    
}

.button:hover {
    background-color: #42424298;
}
    
.number {
    width: 33.3%;
    height: 100px;
    background-color: #424242;
}

.operator {
    width: 100%;
    height: 66.6px;
    background-color: #616161;
}

#botonResolver {
    background-color: blue;
}

.boxLeft {
    width: 75%;
    float: left;
}

.boxRight {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    float: right;

}